{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/compte.css">
	{{ parent() }}
{% endblock %}
{% block title %}Obstacles{% endblock %}

{% block content %}
<section class="container my-3">
	<div class="row">

            <table>
                <tr>
                    <td>Nom</td>
                    <td>Date</td>
                    <td>Ville</td>
                    <td>Code Postal</td>
                </tr>
                <tr>
                    {% for value in tab %}
                    <tr>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </tr>
            </table>
        </div>
</section>
{% endblock %}