{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="/css/accueil.css">
	{{ parent() }}
{% endblock %}
{% block title %}Accueil Equitrec
{% endblock %}

{% block content %}
	<main>
		<div class="col-md-12">
			<h2>Accueil en cour de creation...</h2>
			<img src="{{ asset('img/Back.jpg') }}" alt="Accueil" style="width: 100%; height: 100%;">
		</div>
	</main>
{% endblock %}
