{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/compte.css">
{% endblock %}
{% block title %}
	Liste des Juges
{% endblock %}

{% block content %}
	<main>
		<div class="col-md-1">
			{% for juge in juges %}
				<h3>{{ juge.name }}</h3>
				<a href="{{ path('QRCodeJuge', {'id': juge.id}) }}" class="btn btn-primary">
					Acceder au QRCode
				</a>
			{% endfor %}
		</div>

		{# <div>
									<img src="{{ qrCodeDataUri }}" alt="Code QR des juges">
								</div> #}
	</main>
{% endblock %}
{% block scripts %}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
