{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="/css/compte.css">
	<style>

		.main {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.col-md-1 {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		.juge-card {
			width: 200px;
			margin: 10px;
			padding: 10px;
			border: 1px solid #ccc;
			border-radius: 5px;
			background-color: #f5f5f5;
			text-align: center;
		}

		h3 {
			margin-top: 0;
		}

		.btn {
			display: inline-block;
			margin-top: 10px;
			padding: 8px 16px;
			border-radius: 4px;
			background-color: #007bff;
			color: #fff;
			text-decoration: none;
		}

		.btn:hover {
			background-color: #0056b3;
		}
	</style>

{% endblock %}
{% block title %}
	Liste des Juges
{% endblock %}

{% block content %}
	<main>
		{% for juge in juges %}
			<div class="col-md-1">
				<h3>{{ juge.name }}</h3>
				<a href="{{ path('QRCodeJuge', {'id': juge.id}) }}" class="btn btn-primary">
					Acceder au QRCode
				</a>
			</div>
			<hr>
		{% endfor %}
	</main>
{% endblock %}
{% block scripts %}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
