{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
		main {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.col-md-1 {
			width: 75%;
			margin: 0 auto;
		}

		table {
			border-collapse: collapse;
			width: 75%;
			font-size: 16px;
			border-radius: 2px;
		}

		th,
		td {
			border: 1.5px solid #ccc;
			padding: 10px;
			text-align: left;
		}

		th {
			background-color: #f2f2f2;
			font-weight: bold;
		}

		tr:nth-child(even) {
			background-color: #f9f9f9;
		}
		input[type=button], {
		background-color: #04AA6D;
		border: none;
		border-radius: 4px;
		color: white;
		padding: 16px 32px;
		text-decoration: none;
		margin: 4px 2px;
		cursor: pointer;
		}
	</style>    {{ parent() }}
	
{% endblock %}

{% block title %}Résultats{% endblock %}

{% block content %}
   <main>
		<div class="col-md-1">
			<h2>Résultats de la compétition</h2>

        <table>
        <tr><th>Dossard</th><th>Total</th></tr>
        {% for dossard, total in resultats %}
            <tr><td>{{ dossard }}</td><td>{{ total }}</td></tr>
        {% endfor %}
    </table>
    <br>
    </div>
    </main>
    <center><input type="button" onclick="location.href='{{ path('app_note_obstacles') }}';" value="Afficher les notes de la compétition" class="btn btn-primary" /></center>
{% endblock %}
