{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		main {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}

		.col-md-1 {
			text-align: center;
		}

		img {
			max-width: 100%;
			height: auto;
		}

		.explication {
			font-size: 26px;
			font-style: italic;
			margin-top: 20px;
		}

        h2 {
            color: red;
        }
	</style>
{% endblock %}
{% block title %}
	Liste des Juges
{% endblock %}

{% block content %}
	<main>
		<div class="col-md-1">
			<div>
				{% if qrCodeDataUri == 'Aucune compétition disponible pour ce juge.'%}
					<h2 class="explication">{{ qrCodeDataUri }}</h2>
				{% else %}
					<h1 class="explication">Scannez le QR code pour accéder à la compétition</h1>
					<img src="{{ qrCodeDataUri }}" alt="Code QR des juges">
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
