{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/compte.css">
	{{ parent() }}
{% endblock %}
{% block title %}
	Liste des Juges
{% endblock %}

{% block content %}
	<main>
		<div class="col-md-1">
			<div>
				<img src="{{ qrCodeDataUri }}" alt="Code QR des juges">
			</div>
		</div>
	</main>
{% endblock %}
