{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="/css/compte.css">
	{{ parent() }}
{% endblock %}
{% block title %}Epreuves{% endblock %}

{% block content %}
<section class="container my-3">
	<div class="row">

            <table>
                <tr>
                    <td>Nom</td>
                    <td>Commentaires</td>
                </tr>
                <tr>
                    {% for value in plans %}
                    <tr>
                        <td>{{ value.nom }}</td>
                        <td>{{ value.commentaire }}</td>
                    </tr>
                    {% endfor %}
                </tr>
            </table>
        </div>
</section>
{% endblock %}