{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/inscription.css">
    {{ parent() }}
{% endblock %}
{% block title %}Créer Epreuve
{% endblock %}

{% block content %}
	<section class="container my-3">
	    <div class="row">
	    	<div class="col">
	    	    <h1>Créer Epreuve</h1>
		        {{ form(formNewEpr) }}
				{% for message in app.flashes('success') %}
					<div class="alert alert-success" role="alert">
                      <h4 class="alert-heading">Bien joué!</h4>
                      <p>Epreuve créée avec succès 
                      <hr>
                      <p class="mb-0">Vous pourrez maintenant avoir accès au contenu de notre site quand vous le voulez.</p>
                    </div>
				{% endfor %}
               
			</div>
		</div>
	</section>
{% endblock %}
